apiVersion: apps/v1
kind: Deployment
metadata:
  name: console
  namespace: partivo-tickets
spec:
  replicas: 1
  selector:
    matchLabels:
      app: console
  template:
    metadata:
      labels:
        app: console
    spec:
      imagePullSecrets:
        - name: ghcr-credentials
      containers:
        - name: console
          image: ghcr.io/m84633/partivo-tickets-cicd-demo-console:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8081
          readinessProbe:
            tcpSocket:
              port: 8081
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 8081
            initialDelaySeconds: 30
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: console
  namespace: partivo-tickets
spec:
  selector:
    app: console
  ports:
    - name: grpc
      port: 8081
      targetPort: 8081
